.userList {
    width: 14px;
    min-width: 14px;
    position: relative;
    padding-left: 14px;
    box-sizing: border-box;
    background: var(--heading-color);
    color: var(--text-color);
  }
  .usersContent {
    position: fixed;
  }
  .userList h2 {
    text-align: right;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-size: 1.2em;
  }
  .userList .userListItem {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px auto;
  }
  .userList .avatar {
    margin-left: 10px;
    width: 40px;
    height: 40px;
  }
  
  /* online users */
  .userList .onlineUser {
    display: inline-block;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    background: #0ebb50;
    border-radius: 50%;
    margin-top: 2px;
  }
  .userList:hover {
    transition: 0.5s ease;
    width: 200px;
    min-width: 200px;
    padding-left: 0px;
    padding: 18px;
  }
  @media only screen and (max-width: 768px) {
    .userList {
      display: none;
    }
  }